@use '../../assets/shared' as *;

.content {
  @include flex-col(2rem, center);
  width: 50%;
  margin-inline: auto;

  h2 {
    font-size: 1rem;
    font-weight: 600;
  }

  form {
    @include flex-col(1rem);
    width: 100%;
  }

  button {
    align-self: flex-end;
  }
}