@use '../../assets/shared' as *;

.input {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;

  label {
    &:after {
      content: ':';
    }
  }

  input, select {
    outline-color: $clr-primary;
    border: 1px solid $clr-neutral-200;
    padding: 0.2rem;
    border-radius: 4px;
  }
}
