@use '../../assets/shared' as *;

.content {
  @include flex-col(2rem, center);
  margin-inline: auto;

  h2 {
    font-size: 1.2rem;
    font-weight: 700;
  }

  form {
    @include flex-col(1rem);
    width: 100%;
  }
}

.buttons {
  @include flex-row(1rem, center);
  align-self: center;
  margin-top: 1rem;
}

@media (min-width: 600px) {
  .content {
    width: 50%;
  }

  .buttons {
    align-self: flex-end;
  }
}
