@use '../../assets/shared' as *;

.content {
  @include flex-col(1.2rem);
}

.search {
  @include flex-row(1rem, center);
  align-self: flex-end;

  label {
    visibility: hidden;
    position: absolute;
  }

  input {
    padding: 0.5rem;
    height: 100%;
    border: 1px solid $clr-neutral-200;
    border-radius: 4px;
    outline-color: $clr-primary;
  }
}

.table {
  @include flex-col(null);
  border: 1px solid $clr-neutral-200;
  border-radius: 4px;
  padding: 1rem;
}

.headings {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 1fr;
  font-weight: 700;
  padding: 0.8rem;
  border-bottom: 1px solid $clr-neutral-900;
}

.center {
  justify-self: center;
}

.pages {
  @include flex-row();
  align-self: flex-end;

  a {
    &:first-child {
      border-radius: 4px 0 0 4px;
    }

    &:last-child {
      border-radius: 0 4px 4px 0;
    }
  }
}

.page {
  @include flex-row(null, center, center);
  color: $clr-primary;
  text-decoration: none;
  font-size: 1.1rem;
  width: 40px;
  height: 40px;
  border: 1px solid $clr-neutral-200;
  margin-left: -1px;
  transition: background-color 0.3s, color 0.3s;

  &:hover, &:focus, &:active {
    background-color: $clr-primary;
    color: $clr-neutral-100;
  }
}
