@use './assets/shared' as *;

// General rules
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background: $clr-neutral-100;
  color: $clr-neutral-900;
  font-family: $font-family;
}

.App {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

h1, h2, ul, p {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

main {
  width: min(90%, 1500px);
  margin-inline: auto;
  padding-block: 4rem;
}
