@use '../../../assets/shared' as *;

article {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 1fr;
  align-items: center;
  padding: 0.5rem;

  p {
    text-transform: capitalize;
  }

  img {
    border-radius: 50%;
    width: 50px;
  }
}

.actions {
  @include flex-row(1rem);
  color: $clr-primary;
  font-size: 1.3rem;
}

.center {
  justify-self: center;
}
