@use '../../../assets/shared' as *;

.article {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  align-items: center;
  padding: 0.5rem;

  strong {
    display: none;
  }

  p {
    text-transform: capitalize;
  }

  img {
    border-radius: 50%;
    width: 40px;
  }
}

.actions {
  @include flex-row(1rem, center);
  font-size: 1.3rem;

  a {
    color: $clr-primary;
    transition: opacity 0.3s;

    &:hover, &:focus, &:active {
      opacity: 0.8;
    }
  }
}

.center {
  justify-self: center;
}

@media (min-width: 600px) {
  .article {
    grid-template-columns: 2fr 2fr 1fr 1fr;

    strong {
      display: block;
    }

    img {
      width: 50px;
    }
  }
}
